extends ../common/layout 

block layout-content 
    h2 Projects Overview
    ul
        each proj in projects  
            li 
                h3= proj.name
                p Technologies: #{proj.technology}
                p Description: #{proj.description}
                a.btn.btn-danger(href="/projects/delete/submit?projId=" + proj._id) Delete  
    br
    a.btn.btn-success(href="/projects/add") Add New Project
